---
title: "Cross-platform GUI development with Feathers UI"
layout: "article.html"
ogDescription: "Build native apps for mobile, desktop, and web"
ogImageURL: /img/feathersui-cross-platform-og.png
---

<section class="section-one-column">
  <div class="section-row">
    <h1>Cross-platform GUI development with Feathers UI</h1>
    <p>With <a href="/">Feathers UI</a>, developers can target a variety of platforms — including mobile phones and tablets, desktop computers, and web browsers on all types of devices.</p>
  </div>
</section>

<section class="section-img">
  <div class="section-row">
    <img src="/img/undraw_Mobile_application_mr4r.svg">
    <div>
      <h2>Mobile</h2>
      <p>Build native apps for <strong>iOS</strong> and <strong>Android</strong>. Compiled to C++ native code and GPU accelerated — for smooth performance. Fully supports multitouch and any screen resolution and form-factor, including both phones and tablets.</p>
    </div>
  </div>
</section>

<section class="section-img section-img-right">
  <div class="section-row">
    <img src="/img/undraw_responsive_6c8s.svg">
    <div>
      <h2>Desktop</h2>
      <p>Build native programs for <strong>Windows</strong>, <strong>macOS</strong>, and <strong>Linux</strong>. Compiled to C++ native code and GPU accelerated — for smooth performance. Fully supports mouse and keyboard interaction (plus desktop monitors capable of multitouch).</p>
    </div>
  </div>
</section>

<section class="section-img">
  <div class="section-row">
    <img src="/img/undraw_static_website_0107.svg">
    <div>
     <h2>Web</h2>
      <p>Build <strong>single-page web applications</strong> (SPAs) that run in both mobile and desktop browsers. Compiled to JavaScript with smooth performance from hardware-accelerated WebGL. Includes fallback to HTML Canvas on devices where WebGL is unsupported.</p>
    </div>
  </div>
</section>

<section class="section-img section-img-right">
  <div class="section-row">
    <img src="/img/haxe-logo.svg">
    <div>
      <h2>The Haxe programming language</h2>
      <p>Developers can target many operating systems and devices thanks to <a href="https://haxe.org/">Haxe</a>, a flexible, powerful, and modern programming language. Haxe is strictly-typed, easy to learn, and runs basically everywhere.</p>
      <div class="btn-wrapper">
        <a class="btn" href="https://haxe.org/">Discover Haxe →</a>
      </div>
    </div>
  </div>
</section>

<section class="section-img">
  <div class="section-row">
    <img src="/img/openfl.png">
    <div>
      <h2>OpenFL</h2>
      <p>The <a href="https://openfl.org/">OpenFL</a> library provides APIs for vector and bitmap graphics rendering, text layout, filter and blend mode effects, networking, user input with mouse, touch, and keyboard, an event system, and asset management. At the core of OpenFL is the display list, its scene graph that groups objects together in an intuitive parent-child hierarchy.</p>
      <div class="btn-wrapper">
        <a class="btn" href="/learn/haxe-openfl/openfl-intro">Intro to OpenFL →</a>
      </div>
    </div>
  </div>
</section>

<section class="section-img section-img-right">
  <div class="section-row">
    <img src="/img/cross-platform.png">
    <div>
      <h2>Build cross-platform GUIs with Feathers UI</h2>
      <p>Create stunning, GPU-accelerated user interfaces on a variety of platforms — including mobile, desktop, and web browsers.</p>
      <div class="btn-wrapper">
        <a class="btn" href="/learn/haxe-openfl/getting-started/">Get Started</a>
        <a class="btn btn-quiet" href="/learn/haxe-openfl/installation">Download →</a>
      </div>
    </div>
  </div>
</section>
