---
title: "Premium support for Feathers UI"
layout: "article.html"
---
<h1>Premium support for Feathers UI</h1>
<p>While the core <a href="/">Feathers UI</a> framework is completely free and open source, businesses and enterprises can can gain additional benefits by purchasing premium commercial support options.</h1>

<section class="section-two-column">
  <div class="section-row">
    <div class="section-column">
      <div class="section-column-img"><img src="/img/undraw_new_message_re_fp03.svg"></div>
      <h2>Priority email support</h2>
      <p>A premium email support contract gives your team the ability to send tickets that are given the highest priority. You'll get help from the core framework developers who work on Feathers UI — so you know that they understand the code inside and out.</p>
      <ul>
        <li>Ask questions over email with core framework developers</li>
        <li>Guaranteed response within two business days</li>
        <li>Gain access to VIP sections in the community forum and Discord</li>
        <li>Sponsor logo on the feathersui.com website</li>
      </ul>
      <div class="btn-wrapper">
        <a class="btn" href="mailto:sales@feathersui.com">Contact sales@feathersui.com</a>
      </div>
    </div>
    <div class="section-column">
      <div class="section-column-img"><img src="/img/undraw_teaching_re_g7e3.svg"></div>
      <h2>Training sessions</h2>
      <p>Is your team just getting started with Feathers UI? Or maybe your developers are aiming to advance to the next level? Request a virtual training session.</p>
      <p>Here are some ideas for training topics, but feel free to request a deep dive into any Feathers UI (or OpenFL) topic.</p>
      <ul>
        <li>OpenFL Basics: Learn the display list, event model, tweens/animation, networking</li>
        <li>Feathers UI Basics: UI components, layouts, skinning and themes</li>
        <li>Feathers UI Intermediate: MVC frameworks and architecture</li>
        <li>Feathers UI Advanced: Custom UI components</li>
      </ul>
      <div class="btn-wrapper">
        <a class="btn" href="mailto:sales@feathersui.com">Contact sales@feathersui.com</a>
      </div>
    </div>
  </div>
</section>