RewriteEngine on
RewriteBase /samples/haxe-openfl/components-explorer/
RewriteCond %{HTTPS} off
RewriteRule ^/?(.*) https://%{SERVER_NAME}/samples/haxe-openfl/components-explorer/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /samples/haxe-openfl/components-explorer/ [L]