<IfModule mod_rewrite.c>
RewriteEngine On

# require https

RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

# redirect /help to /learn/as3-starling

RewriteRule ^/?help($|[A-Za-z0-9\-/]*)(\.[A-Za-z]+)?$ /learn/as3-starling$1 [R=301,L]

# redirect /en to /

RewriteRule ^/?en($|/[A-Za-z0-9\-/]*)(\.[A-Za-z]+)?$ /$1 [R=301,L]

# redirect to /api-reference

RewriteRule ^/?documentation($|/[A-Za-z0-9\-/.]*)$ /api-reference$1 [R=301,L]
RewriteRule ^/?asdoc($|/[A-Za-z0-9\-/.]*)$ /api-reference$1 [R=301,L]
RewriteRule ^/?beta/documentation($|/[A-Za-z0-9\-/.]*)$ /api-reference$1 [R=301,L]

# redirect /api to api.feathersui.com

RewriteRule ^/?api($|/[A-Za-z0-9\-/.]*)$ https://api.feathersui.com$1 [R=301,L]

# redirect /index/ and /index to / (docusaurus sitemap is broken)

RewriteRule ^/?index/?$ / [R=301,L]

# redirect /sdk/feathers-sdk-manager/ to /sdk/download/

RewriteRule ^/?sdk/feathers-sdk-manager/$ /sdk/download/$1 [R=301,L]

# redirect robotlegs-framework-starling API to new github.io site

RewriteRule ^/?api-reference/robotlegs-starling($|/[A-Za-z0-9\-/.]*)$ http://joshtynjala.github.io/robotlegs-framework-starling/api-reference$1 [R=301,L]
</IfModule>

<IfModule mod_mime.c>
AddType application/vnd.adobe.air-application-installer-package+zip air
</IfModule>

<IfModule mod_headers.c>
Header set X-Frame-Options "SAMEORIGIN"
Header set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
</IfModule>