<footer class="footer">
  <div class="footer-content">
    <section class="sitemap">
      <div>
        <a href="/"><img src="/img/feathers-ui-icon-color.png" alt="Feathers UI"></a>
      </div>
      <div>
        <h6><a href="/">Feathers UI</a></h6>
        <ul>
          <li><a href="/learn/haxe-openfl/installation">Downloads</a></li>
          <li><a href="/showcase">Showcase</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
          <li><a href="/premium-support">Premium Support</a></li>
        </ul>
      </div>
      <div>
        <h6><a href="/learn/haxe-openfl">Documentation</a></h6>
        <ul>
          <li><a href="/learn/haxe-openfl/getting-started">Getting Started</a></li>
          <li><a href="https://api.feathersui.com/">API Reference</a></li>
          <li><a href="/samples/haxe-openfl/">Samples</a></li>
        </ul>
        <h6><a href="https://github.com/feathersui/feathersui-openfl">Github</a></h6>
        <ul>
          <li><a href="https://github.com/feathersui/feathersui-openfl/tree/v{% include "feathersui-openfl-version.html" %}">Source Code</a></li>
          <li><a href="https://github.com/feathersui/feathersui-openfl/issues">Issue Tracker</a></li>
        </ul>
      </div>
      <div>
        <h6><a href="/community">Community</a></h6>
        <ul>
          <li><a href="https://community.feathersui.com/">Forum</a></li>
          <li><a href="https://discord.feathersui.com/"target="_blank" rel="noreferrer noopener">Discord</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/feathersui"target="_blank" rel="noreferrer noopener">Stack Overflow</a></li>
        </ul>
        <h6><a href="/blog">News &amp; Updates</a></h6>
        <ul>
          <li><a href="/blog">Blog</a> (<a href="/blog/feed.xml">RSS</a>, <a href="/blog/atom.xml">Atom</a>)</li>
          <li><a href="https://fosstodon.org/@feathersui" rel="me noreferrer noopener">Mastodon</a></li>
          <li><a href="https://twitter.com/feathersui" rel="me noreferrer noopener">Twitter</a></li>
        </ul>
      </div>
      <div>
        <h6><a href="/donate">Make a Donation</a></h6>
        <ul>
          <li><a href="https://github.com/sponsors/joshtynjala">Join Github Sponsors</a></li>
          <li><a href="https://www.paypal.com/donate?hosted_button_id=9A9EB6YEHRNBN&source=url">Donate with PayPal</a></li>
          <li><a href="https://teespring.com/stores/feathers-ui">Buy a T-Shirt</a></li>
        </ul>
      </div>
    </section>
    <section class="copyright">Copyright &copy; <a href="https://bowlerhat.dev">Bowler Hat LLC</a> — Illustrations by <a href="https://undraw.co/">unDraw</a>.</section>
  </div>
</footer>
<link rel="stylesheet" href="/js/highlightjs/styles/agate.min.css">
<script src="/js/highlightjs/highlight.min.js"></script>
<script>hljs.highlightAll();</script>