<header class="header" role="banner">
  <div class="header-content">
    <h1 class="title"><a href="/">{{ siteTitle }}</a></h1>
    {% unless limited_header %}
    <nav aria-label="Main">
      <menu>
        <li>
          <a href="/learn/haxe-openfl/getting-started">Docs</a>
        </li>
        <li>
          <a href="https://api.feathersui.com/">API</a>
        </li>
        <li>
          <a href="/showcase/">Showcase</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="/community/">Community</a>
        </li>
      </menu>
    </nav>
    {% endunless %}
  </div>
</header>