<link rel="preload" href="/fnt/SourceSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fnt/SourceSansPro-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fnt/SourceSansPro-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fnt/SourceSansPro-SemiBoldItalic.woff2" as="font" type="font/woff2" crossorigin>
<link href="/css/style.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>