/* your custom css */

body {
  background: #fcfaf7;
  color: #292522;
  font-family: "source-sans-pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

code {
  font-family: "source-code-pro", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  padding: 1.5px 4px;
}

a,
a:hover {
  color: #fa9725;
}

a code {
  background-color: #fdf4ea;
}

blockquote a code {
  background-color: #fcebc7;
}

figure {
  margin-bottom: 16px;
}

figcaption {
  text-align: center;
}

.fixedHeaderContainer {
  color: #292522;
}

li ul {
  margin-top: 0.5em;
}

h2,
h2 p,
.container .wrapper .imageAlignSide h2 p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.container .wrapper .imageAlignSide p {
  margin-bottom: 1em;
}

.fixedHeaderContainer a {
  color: #292522;
}

.navigationSlider .slidingNav ul {
  color: #292522;
}

.avatarsContainer .blockImage img {
  border-radius: 1000px;
  max-width: 150px;
}

.avatarsContainer .gridBlock .threeByGridBlock.imageAlignTop .blockImage {
  height: auto;
}

.lightBackground {
  background: #faf1eb;
}

.darkBackground {
  background: #faebe1;
  color: #292522;
}

.highlightBackground {
  background: #fae2d2;
  color: #292522;
}

.projectTitle {
  color: #ff8b26;
}

.projectTitle small {
  color: #292522;
}

.button {
  color: #ff8b26;
  margin-bottom: 1em;
  margin-right: 10px;
}

.button:hover {
  color: #292522;
}

.quietButton {
  border: none;
}

.container.darkBackground .wrapper h1,
.container.darkBackground .wrapper h2,
.container.darkBackground .wrapper h3,
.container.darkBackground .wrapper h4,
.container.darkBackground .wrapper h5 {
  border-color: #292522;
  color: #292522;
}

.container.highlightBackground .wrapper h1,
.container.highlightBackground .wrapper h2,
.container.highlightBackground .wrapper h3,
.container.highlightBackground .wrapper h4,
.container.highlightBackground .wrapper h5 {
  border-color: #292522;
  color: #292522;
}

.container.paddingTop {
  padding-top: 40px;
}

.container.paddingBottom {
  padding-bottom: 40px;
}

.container div.prose:last-child > p:last-child {
  margin-bottom: 0;
}

.gridBlock .twoByGridBlock.imageAlignTop .blockImage,
.gridBlock .threeByGridBlock.imageAlignTop .blockImage,
.gridBlock .fourByGridBlock.imageAlignTop .blockImage {
  height: 230px;
}

.gridBlock .twoByGridBlock img,
.gridBlock .threeByGridBlock img,
.gridBlock .fourByGridBlock img {
  max-height: 100%;
}

.imageAlignTop .blockImage {
  margin: auto;
  max-width: 250px;
  text-align: center;
}

.documentContainer h1 {
  margin-top: 0;
}

.gridBlock .twoByGridBlock .imageAlignTop .blockImage,
.gridBlock .threeByGridBlock .imageAlignTop .blockImage,
.gridBlock .fourByGridBlock .imageAlignTop .blockImage {
  max-width: 200px;
}

.imageAlignLeft .blockImage {
  text-align: center;
}

.imageAlignRight .blockImage {
  text-align: center;
}

.productShowcaseSection .logos img {
  width: 200px;
}

.productShowcaseSection .logos .button {
  margin: 1em;
}

.nav-footer .copyright {
  max-width: 1080px;
  text-align: left;
  margin: auto;
  padding-left: 90px;
  padding-right: 90px;
}

.nav-footer .copyright a {
  color: rgba(255, 255, 255, 0.6);
}

.nav-footer .sitemap {
  color: rgba(255, 255, 255, 0.6);
}

.nav-footer .sitemap ul {
  list-style: none;
  padding-left: 0;
}

.nav-footer .sitemap h5 {
  margin: 16px 0 10px;
}

.nav-footer .sitemap h5:first-of-type {
  margin-top: 0;
}

.nav-footer .sitemap .nav-home {
  opacity: 1;
}

.nav-footer .sitemap a {
  display: inline;
}

.nav-footer .sitemap h5 > a {
  margin-left: 0;
}

.buttonWrapper {
  margin-top: 0.5em;
}

@media only screen and (max-width: 735px) {
  .imageAlignSide .blockImage {
    display: block;
  }
}

@media only screen and (max-width: 736px) {
  .nav-footer .copyright {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li a {
    color: #292522;
  }
  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: #292522;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
  .nav-footer .copyright {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 1500px) {
}

img.beta {
  width: 28px;
  height: 11px;
  vertical-align: middle;
  display: inline;
}

.homeContainer .homeWrapper {
  padding-bottom: 0;
}

.homeContainer .homeWrapper .promoSection .promoRow {
  margin-bottom: 0;
  padding-bottom: 0;
}

.homeContainer .homeWrapper .promoSection .promoRow .button {
  margin-bottom: 0;
}

img.heroImage {
  max-height: 400px;
}