RewriteEngine on
RewriteBase /samples/haxe-openfl/router-navigator-pass-data-between-views/
RewriteCond %{HTTPS} off
RewriteRule ^/?(.*) https://%{SERVER_NAME}/samples/haxe-openfl/router-navigator-pass-data-between-views/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /samples/haxe-openfl/router-navigator-pass-data-between-views/ [L]