body
{
	font-family: "source-sans-pro","Source Sans Pro",sans-serif;
	background: #1a1816 url("../img/top-background-bar.png") top center repeat-x;
	color: #e5e5e5;
	font-size: 15px;
	text-align: center;
}

a:link, a:visited
{
	color: #ff8800;
}

a:hover, a:active
{
	color: #ffffff;
}

object:focus
{
	outline: none;
}

